<% additional_row_count = @csv.csv_data.length-6 %>
<form action="/finish" method="POST">
  <div class="row">
    <h1>Previewing <%= @csv.filename %></h1>
    <p>Here's a quick preview of the dataset you're proposing to analyze. Take a moment to review the data types we've found, and edit as necessary, then finally choose a column that you're trying to predict.</p>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>#</th>
        <% @csv.headers.each_with_index do |header, i| %>
          <th><%= header %><br />
            <select class="form-control" name="header_class_<%= i %>">
              <% ["Categorical","Float","Integer","Time","Text","Phrase"].each do |classtype| %>
              <option <% if @csv.col_classes[i] == classtype %>selected<% end %>><%= classtype %></option>
              <% end %>
            </select>
          </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
            <% @csv_data[0..3].each_with_index do |row, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <% row.each do |elem| %>
                <td><%= elem %></td>
              <% end %>
            </tr>
            <% end %>
          <% if additional_row_count > 0 %>
          <tr>
            <% @csv_data.first.each_with_index do |row, i| %>
              <% if i == 0 %>
                <td><b><%= additional_row_count %> more <%= additional_row_count == 1 ? "row" : "rows" %>...</b></td>
                <td><br /></td>
              <% else %>
                <td><br /></td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
          <% @csv.csv_data[-2..-1].each_with_index do |row, i| %>
            <tr>
              <th scope="row"><%= (@csv.csv_data.length-1)+i %></th>
              <% row.each do |elem| %>
                <td><%= elem %></td>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="form-group row">
    <div class="col-sm-6">
      <h5>How close do predictions need to be to accept them?</h5>
      <select class="form-control" name="prediction_accuracy">
        <option value="0">Not that close</option>
        <option value="1">Sort of close</option>
        <option value="2">Extremely close</option>
      </select>
    </div>
    <div class="col-sm-6">
      <h5>How fast do you need these predictions?</h5>
      <select class="form-control" name="prediction_speed">
        <option value="0">Not that fast</option>
        <option value="1">Sort of fast</option>
        <option value="2">Extremely fast</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <h5>Which column do you want to predict?</h5>
      <select class="form-control" name="prediction_column">
        <% @csv.headers.each_with_index do |header, i| %>
        <option value="<%= i %>"><%= header %></option>
        <% end %>
      </select>
    </div>
    <input type="hidden" name="dataset_id" value="<%= @d.id %>">
    <div class="offset-sm-2 col-sm-4">
      <h5>Ready to learn?</h5>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
