<div class="row">
    <div class="col-sm-12">
      <h1><%= current_user.first_name %>'s datasets</h1>
    </div>
</div>
<br />
<%= partial "/partials/upload", {locals: {path: "/preview", prompt: "Add a New Dataset:"}} %>
<div class="row">
  <div class="col-sm-12">
    <% if @datasets.empty? %>
      <p>You currently don't have any datasets uploaded. In order to get started, add one to the right</p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Filename</th>
            <th><a href="#" data-toggle="tooltip" title="Users are allotted a total of 200mb of compressed data on the server.">Filesize (<%= current_user.file_usage %>% used)</a></th>
            <th>Row Count</th>
            <th>Feature Count</th>
            <th>Status</th>
            <th>Model Performance</th>
            <th>Last Updated</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% @datasets.each_with_index do |dataset, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><a href="/datasets/<%= current_user_id %>/<%= dataset.id %>"><%= dataset.filename %></a></td>
              <td><%= dataset.filesize_mb.round(2) %> MB</td>
              <td><%= dataset.row_count %></td>
              <td><%= dataset.feature_count %></td>
              <td><%= dataset.get_current_status %></td>
              <td><%= dataset.model_success_word %></td>
              <td><%= TimeDifference.between(dataset.get_updated_at, Time.now).humanize %></td>
              <td><a href="/datasets/<%= current_user_id %>/<%= dataset.id %>/delete">Destroy</a> | <a href="/datasets/<%= current_user_id %>/<%= dataset.id %>/export">Export Model</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% if current_user.ml_models.count > 0 %>
<div class="row">
    <div class="col-sm-12">
      <h1><%= current_user.first_name %>'s exported models</h1>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Dataset of Origin</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
    <% current_user.ml_models.each_with_index do |model, i| %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= model.name %></td>
        <td><a href="/datasets/<%= current_user.id %>/<%= model.dataset_id %>">view original dataset</a></td>
        <td><a href="/models/<%= current_user.id %>/<%= model.dataset_id %>/new_dataset">Apply to new dataset</a></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<br />
<% end %>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
  

